#container {
    display: flex;
    width: 100vw;
    height: 100vh;
    aside {
        width: 200px;
        background: #001529;
    }
    section {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    header {
        height: 100px;
        background: aqua;
    }
    main {
        flex: 1;
    }
}